@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	/* background-image: url('assets/foggymountains-bg.png');
	background-size: cover;
	background-repeat: no-repeat; */
}

select {
	/* height: 1.3em; */
	position: relative;
	top: .15em;
	margin-left: auto;
}

input[type="text"] {
	margin-left: auto;
}

input[type="checkbox"] {
	vertical-align: middle;
	width: .9em;
	margin-right: .4em;
}

.small-caps {
	font-variant: small-caps;
}

.hidden {
	display: none;
}